/* Global Reset */
* {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Logo */
.nav-logo {
  height: 60px;
  width: 200px;
}
.logo {
  background-image: url("logo.png"); /* place logo.png in same folder */
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* Hover Border */
.border {
  border: 2px solid transparent;
  padding: 5px;
  transition: border 0.3s ease;
}
.border:hover {
  border: 2px solid white;
  cursor: pointer;
}

/* Address Section */
.add-first {
  color: #cccccc;
  font-size: 0.8rem;
  margin-left: 15px;
}
.add-sec {   /* corrected to match your HTML */
  font-size: 1rem;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}
.nav-search{
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 3px;;
}
.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input{
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd6f;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.nav-search:hover{
  border: 2px solid orange;
  
}
.nav-langauge{
  display: flex;
  align-items: center;
  gap: 5px;
}


/**box-4**/
span{
  font-size: 0.7rem;
}
.nav-second{
  font-size: 0.85rem;
  font-weight: 700;
}


/**box-6**/
.nav-cart i{
  font-size: 35px;
  height: 30px;
}
.nav-cart{
  font-size: 0.85rem;
  font-weight: 700;
}

/**panel**/
.panel{
  height: 40px;
  background-color: #222f3d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding-left: 10px;
}
.panel-ops p{
  display: inline;
  margin-left: 15px;
}
.panel-ops{
  width: 70%;
  font-size: 0.85rem;
}
.panel-deals{
  font-size: 0.85rem;
  font-weight: 700;
}

/**hero section**/
.hero-image{
  height: 350px;
  background-image: url("ama1 - Copy.jpg"); /* place hero.jpg in same folder */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg{
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;
}
.hero-msg a{
  text-decoration: none;
  color: #007185;
  margin-left: 5px;
}

/**Shop-section**/
.shop-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:#e2e7e5;
}
.box {
  height: 400px;
  width: 23%;
  justify-content: space-evenly;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}
.box-img{
  height: 300px;
  width: 100%;
  background-size: cover;
  margin-top: 1rem;
}
.box-contant{
  margin-top: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.9rem;
}
.box-contant p{
  color: #007185;
}

/**footer**/
footer{
  margin-top: 15px;
  
}
.foot-panel1{
  background-color: #37475e;
  color: white;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
 font-size: 0.85rem;
}
.foot-panel2{
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;

}

ul{
  margin-top: 20px;
}
ul a{
  display: block;
  font-size: 0.85rem;
  margin: 10px;
  color: #dddddd;
}

.foot-panel3{
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .logo {
  background-image: url("logo.png"); /* place logo.png in same folder */
  height: 100%;
  width: 100%;

}
.foot-panel4{
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
}
.pages{
  padding-top:25px ;
}
.copyright{
  padding-top: 5px;
}